body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(158, 221, 158);
}

.form{
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 3% auto;
    border-radius: 5px;
}

button{
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]{
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#eventsContainer{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event{
    border: solid 1px #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.days{
    text-align: left;
    width: 20%;
}

.days-number{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.event-name{
    padding: 10px;
    width: 25%;
}

.event-date{
    padding: 10px;
    width: 20%;
}

.actions{
    padding: 5px;
    margin-left: 5%;
}

@media screen and (max-width: 375px){
    html{
        width: 100%;
    }
    .form{
        width: 90%;
        margin-top: 5%;
    }
    .event{
        width: 95%;
    }
    #eventsContainer{
        width: 95%;
    }
}